*,
*:after,
*:before {
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    background-color: #2493dd;
}

.ff{
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}
.ff-img{
    padding-bottom: 50.25%;
    position: relative;
}
.ff-img img{
    position: absolute;
    width: 100%;
}
.ff-body{
    padding: 1.5rem;
}
.ff-title{
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 200;
}
ff-intro{
    margin-top: 0.1rem;
    line-height: 1.5;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


















